/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Balsamiq Sans", cursive;
}

.h3 {
  font-size: 50px;
}

.no-margin {
  margin: 0;
}

.h4,
.btn {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #f39f8b;
}

.h2 {
  font-size: 66px;
  line-height: 64px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 100;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.description-icon {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.btn {
  color: white;
  font-size: 1rem;
}

.btn-small {
  font-size: 0.875rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.btn-outline {
  text-transform: uppercase;
  color: #001d20;
}

.pink {
  color: #f39f8b;
}

.white {
  color: white;
}

.orange {
  color: #dc5534;
}

.black {
  color: black;
}

.description {
  color: #333333;
  line-height: 32px;
}

.description--light {
  color: #ffffff;
}

.center {
  text-align: center;
}

span {
  font-size: 20px;
}

.section--about, .section--services {
  color: #ffffff;
}

.section--services p {
  margin-left: 2.6rem;
}

.section--services img {
  margin-right: 0.75rem;
}

.container__bg-green {
  background-color: #235055;
  background-image: linear-gradient(#001d20, #235055);
}

.container__bg-green-light {
  background-color: #235055;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0;
  margin: 0 auto;
  gap: 3rem;
}

.nav-burger.btn-outline {
  display: flex;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-links, .nav-contact {
  display: none;
  color: white;
}

.nav-links {
  margin: auto 0;
  flex-grow: 1;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:not(:last-child) {
  margin-right: 2.5rem;
}

@media screen and (min-width: 992px) {
  .nav {
    padding: 2rem 2rem 0;
  }
  .nav-burger.btn-outline {
    display: none;
  }
  .nav-links, .nav-contact {
    display: inline-block;
  }
}

#hero .description {
  margin-bottom: 1rem;
}

.section {
  display: block;
  position: relative;
}

.section-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 576px) {
  .section-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (min-width: 768px) {
  .section--hero .section-image {
    order: 1;
  }
}

.section--activities {
  position: relative;
  background-color: #faded8;
  overflow: visible;
}

.section--activities .container {
  overflow: visible;
}

.section-image {
  text-align: center;
}

.section-image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-image img {
    width: 80%;
  }
}

.section-text {
  padding: 4rem 1.25rem;
}

.section-wave {
  position: absolute;
  width: 100%;
  top: -1px;
}

.section-wave-up {
  position: absolute;
  width: 100%;
  margin-top: -9%;
}

.section--locations, .section--routes {
  background-color: #faded8;
}

.section--about, .section--services {
  background-color: #235055;
}

.section--routes .h4, .section--locations .h4, .section--about .h4 {
  letter-spacing: 3px;
  margin: 2rem 0;
}

.section--about .h4,
.section--about .h3,
.section--about .description {
  margin-bottom: 1rem;
}

.section--locations {
  z-index: 1;
  position: relative;
  overflow-x: clip;
}

.section--locations .circle-pink,
.section--locations .circle-green {
  z-index: 0;
  display: none;
}

@media screen and (min-width: 992px) {
  .section--locations .circle-pink {
    top: -10vw;
    background-color: #f39f8b;
    margin-left: -8vw;
    width: 35vw;
    height: 35vw;
  }
  .section--locations .circle-green {
    right: 0;
    top: 0;
    background-color: #86d07e;
    margin-top: 20vw;
    margin-right: -8vw;
    width: 40vw;
    height: 40vw;
  }
  .section--locations .circle-pink,
  .section--locations .circle-green {
    position: absolute;
    border-radius: 50%;
    display: inline-block;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: none;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

.btn-outline {
  border: solid 1px white;
  padding: 0.75rem 3rem;
  margin: auto 0;
  border-radius: 1.25rem;
  width: fit-content;
}

.btn {
  width: fit-content;
  border: none;
  background-color: #f39f8b;
  padding: 0.75rem 1.25rem;
  border-radius: 1.25rem;
}

.btn-small {
  padding: 0.625rem 1rem;
}

.pink {
  border: solid 1px #f39f8b;
  border-radius: 1.25rem;
  justify-content: center;
}

.card-icon {
  background-color: white;
  display: flex;
  padding: 2rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

.card-icon-container {
  margin: 0 auto 1rem;
}

.card-icon-container:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .card-icon-container {
    margin: 0;
  }
  .card-icon-container:not(:last-of-type) {
    padding-right: 1rem;
  }
}

.card-icon-image {
  background-color: #faded8;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-right: 2rem;
}

.card-icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-adventure {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  height: 90vh;
}

@media screen and (min-width: 992px) {
  .card-adventure {
    flex-direction: row;
  }
}

.card-adventure-container {
  justify-content: center;
}

.card-adventure-image {
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .card-adventure-image {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
  }
}

.card-adventure-image-icon {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 48px;
  height: 48px;
  background-color: #f39f8b;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-adventure-image-icon img {
  height: 24px;
  width: 24px;
}

.card-adventure-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-adventure-text,
.card-adventure .card-route-content {
  padding: 2rem 1.5rem;
}

.card-adventure-text .btn:first-of-type,
.card-adventure-text .h5,
.card-adventure-text .description,
.card-adventure .card-route-content .btn:first-of-type,
.card-adventure .card-route-content .h5,
.card-adventure .card-route-content .description {
  margin-bottom: 1rem;
}

.card-adventure-text-details,
.card-adventure .card-route-content-details {
  margin-bottom: 2rem;
}

.card-adventure-text-details span:first-of-type,
.card-adventure .card-route-content-details span:first-of-type {
  margin-right: 3rem;
}

.card-adventure-text-details img,
.card-adventure .card-route-content-details img {
  height: 20px;
  margin-right: 0.75rem;
}

@media screen and (min-width: 992px) {
  .card-adventure-text {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-adventure-text .h5 {
    font-size: 50px;
    line-height: 48px;
    margin: 2rem 0;
  }
  .card-adventure-text .description {
    flex-grow: 1;
  }
  .card-adventure-text-details {
    margin-bottom: 3rem;
  }
  .card-adventure-text-cta {
    justify-content: flex-end;
  }
}

.card-route {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 1.5rem;
  z-index: 2;
  min-width: calc(100% - 3rem);
}

@media screen and (min-width: 768px) {
  .card-route {
    min-width: calc(6 / 12 * 100% - 3rem);
  }
}

@media screen and (min-width: 992px) {
  .card-route {
    min-width: calc(4 / 12 * 100% - 3rem);
  }
}

.card-route-slider {
  position: relative;
  padding-bottom: 2rem;
  z-index: 2;
  flex-wrap: nowrap;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .card-route-slider {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .card-route-slider {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.card-route-slider-bg {
  background-color: #f39f8b;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 2;
}

.card-route-slider-bg-container {
  height: 100%;
  width: 100%;
  padding-top: 8rem;
  position: absolute;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .card-route-slider-bg-container {
    margin-left: -0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .card-route-slider-bg-container {
    margin-left: -2rem;
  }
}

.card-route-bg {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 2;
}

.card-route-bg-container {
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  position: absolute;
}

.card-route-content {
  padding: 0 1.5rem 1.5rem;
  z-index: 2;
}

.card-route-content .btn-outline {
  width: auto;
  text-align: center;
  color: #001d20;
}

.card-route-content-image img {
  width: 100%;
}

.card-route-content-image,
.card-route-content .btn,
.card-route-content .h5,
.card-route-content .description {
  margin-bottom: 1rem;
}

.card-route-content-details {
  margin-bottom: 2rem;
}

.card-route-content-details span:first-of-type {
  margin-right: 3rem;
}

.card-route-content-details img {
  height: 20px;
  margin-right: 0.75rem;
}

.card-location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 170px;
  height: 224px;
  box-shadow: 0 12px 24px 0 rgba(51, 9, 0, 0.15);
  border-radius: 1rem;
  background-color: white;
  margin-right: 1.5rem;
  z-index: 1;
}

.card-location:last-of-type {
  margin-right: 0;
}

.card-location-slider {
  padding: 0 1.5rem;
  width: 100%;
  height: 274px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
}

@media screen and (min-width: 992px) {
  .card-location-slider {
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.card-location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #faded8;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.card-location-icon img {
  width: 3rem;
  height: 3rem;
}
