.card-icon {
  max-width: 23.125rem;
  background-color: white;
  display: flex;
  padding: 1rem;
  margin: 0 auto 1rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.2);
  z-index: 1;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--1,
  &--2 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  &--1 {
    flex-grow: 1;
  }

  &--2 {
    flex-grow: 4;
  }

  &-image {
    background-color: $color-pink-light;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
  }

  &-text {
    margin: auto 0;
  }
}
.card-adventure {
  margin: auto;
  max-width: 23.125rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  &-image {
    width: 100%;
    height: 21rem;
    position: relative;
    &-icon {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      width: 48px;
      height: 48px;
      background-color: $color-pink;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      @include flex-center;
      img {
        height: 24px;
        width: 24px;
      }
    }
    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-text,
  .card-route-content {
    padding: 2rem 1.5rem;
    .btn:first-of-type,
    .h5,
    .description {
      margin-bottom: 1rem;
    }
    &-details {
      margin-bottom: 2rem;
      span:first-of-type {
        margin-right: 3rem;
      }
      img {
        height: 20px;
        margin-right: 0.75rem;
      }
    }
  }
}
.card-route {
  position: relative;
  display: flex;
  flex-direction: column;
  // max-width: 23.125rem;
  // margin: 0 1rem;
  // background-color: white;
  // display: flex;
  // flex-direction: column;
  // box-shadow: 15px 15px 40px gray;
  &-slider {
    padding: 1.25rem;
  }
  &-bg {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    &-container {
      height: 100%;
      width: 100%;
      padding-top: 3rem;
      position: absolute;
    }
  }
  &-content {
    padding: 0 1.5rem 1.5rem;
    z-index: 2;
    .btn-outline {
      width: auto;
      text-align: center;
      color: $color-green-dark;
    }
    &-image {
      img {
        width: 100%;
      }
    }
    &-image,
    .btn,
    .h5,
    .description {
      margin-bottom: 1rem;
    }
    &-details {
      margin-bottom: 2rem;
      span:first-of-type {
        margin-right: 3rem;
      }
      img {
        height: 20px;
        margin-right: 0.75rem;
      }
    }
  }
}
// .card-adventure {
//   max-width: 23.125rem;
//   max-height: 45rem;
//   background-color: white;
//   display: flex;
// }
.card-location {
  @include flex-center;
  flex-direction: column;
  min-width: 170px;
  height: 224px;
  box-shadow: 10px 10px 20px lightgray;
  border-radius: 1rem;
  background-color: white;
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }

  &-slider {
    padding: 0 1.5rem;
    width: 100%;
    height: 274px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: visible;
    overflow-x: scroll;
    align-items: center;
  }

  &-icon {
    margin-bottom: 2rem;
  }
}
