.card-icon {
    background-color: white;
    display: flex;
    padding: 2rem;
    height: 100%;

    border-radius: 1rem;
    box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.2);
    z-index: 1;
    position: relative;

    &-container {
        margin: 0 auto 1rem;
        &:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (min-width: 992px) {
            margin: 0;
            &:not(:last-of-type) {
                padding-right: 1rem;
            }
        }
    }

    &-image {
        background-color: $color-pink-light;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.card-adventure {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
    height: 90vh;

    @media screen and (min-width: $lg-break) {
        flex-direction: row;
    }

    &-container {
        justify-content: center;
    }

    &-image {
        width: 100%;
        height: 50%;
        position: relative;
        z-index: 2;

        @media screen and (min-width: $lg-break) {
            min-width: 50%;
            max-width: 50%;
            height: 100%;
        }

        &-icon {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            width: 48px;
            height: 48px;
            background-color: $color-pink;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            @include flex-center;
            img {
                height: 24px;
                width: 24px;
            }
        }
        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &-text,
    .card-route-content {
        padding: 2rem 1.5rem;
        .btn:first-of-type,
        .h5,
        .description {
            margin-bottom: 1rem;
        }
        &-details {
            margin-bottom: 2rem;
            span:first-of-type {
                margin-right: 3rem;
            }
            img {
                height: 20px;
                margin-right: 0.75rem;
            }
        }
    }

    &-text {
        @media screen and (min-width: $lg-break) {
            padding: 5rem 3rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            .h5 {
                font-size: 50px;
                line-height: 48px;
                margin: 2rem 0;
            }

            .description {
                flex-grow: 1;
            }

            &-details {
                margin-bottom: 3rem;
            }

            &-cta {
                justify-content: flex-end;
            }
        }
    }
}

.card-stories {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 1.5rem 1.5rem;
    z-index: 2;

    &-bg {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: 2;
        &-container {
            height: 100%;
            width: 100%;
            padding-top: 5rem;
            position: absolute;
        }
    }
    &-content {
        padding: 0 1.5rem 1.5rem;
        z-index: 2;
        .btn-outline {
            width: auto;
            text-align: center;
            color: $color-green-dark;
        }
        &-image {
            img {
                width: 100%;
            }
        }
        &-image,
        .btn,
        .h5,
        .description {
            margin-bottom: 1rem;
        }
        &-details {
            margin-bottom: 2rem;
            span:first-of-type {
                margin-right: 3rem;
            }
            img {
                height: 20px;
                margin-right: 0.75rem;
            }
        }
    }
}

.card-route {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 1.5rem;
    z-index: 2;
    min-width: calc(100% - 3rem);

    @media screen and (min-width: $md-break) {
        min-width: calc(6 / 12 * 100% - 3rem);
    }

    @media screen and (min-width: $lg-break) {
        min-width: calc(4 / 12 * 100% - 3rem);
    }

    &-slider {
        position: relative;
        padding-bottom: 2rem;
        z-index: 2;
        flex-wrap: nowrap;
        overflow: auto;

        @media screen and (min-width: $md-break) {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        @media screen and (min-width: $lg-break) {
            padding-left: 10vw;
            padding-right: 10vw;
        }

        &-bg {
            background-color: $color-pink;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            z-index: 2;
            &-container {
                height: 100%;
                width: 100%;
                padding-top: 8rem;
                position: absolute;
                flex-grow: 1;

                @media screen and (min-width: $md-break) {
                    margin-left: -0.5rem;
                }

                @media screen and (min-width: $lg-break) {
                    margin-left: -2rem;
                }
            }
        }
    }
    &-bg {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: 2;
        &-container {
            height: 100%;
            width: 100%;
            padding-top: 5rem;
            position: absolute;
        }
    }
    &-content {
        padding: 0 1.5rem 1.5rem;
        z-index: 2;
        .btn-outline {
            width: auto;
            text-align: center;
            color: $color-green-dark;
        }
        &-image {
            img {
                width: 100%;
            }
        }
        &-image,
        .btn,
        .h5,
        .description {
            margin-bottom: 1rem;
        }
        &-details {
            margin-bottom: 2rem;
            span:first-of-type {
                margin-right: 3rem;
            }
            img {
                height: 20px;
                margin-right: 0.75rem;
            }
        }
    }
}
.card-location {
    @include flex-center;
    flex-direction: column;
    min-width: 170px;
    height: 224px;
    box-shadow: 0 12px 24px 0 rgba(51, 9, 0, 0.15);
    border-radius: 1rem;
    background-color: white;
    margin-right: 1.5rem;
    z-index: 1;

    &:last-of-type {
        margin-right: 0;
    }

    &-slider {
        padding: 0 1.5rem;
        width: 100%;
        height: 274px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;

        @media screen and (min-width: $lg-break) {
            justify-content: center;
            padding-left: 10vw;
            padding-right: 10vw;
        }
    }

    &-icon {
        @include flex-center;
        margin-bottom: 2rem;
        background-color: $color-pink-light;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}
