$font-main: "Balsamiq Sans", cursive;
$font-secondary: "Quicksand", sans-serif;

$color-lightgreen: #235055;
$color-darkgreen: #001d20;
$color-mediumpink: #f39f8b;
$color-orange: #dc5534;
$color-lightpink: #faded8;
$color-lightgray: #2b2b2ba9;
