$font-main: "Balsamiq Sans", cursive;
$font-secondary: "Quicksand", sans-serif;

$color-green-light: #235055;
$color-green-dark: #001d20;
$color-pink: #f39f8b;
$color-pink-light: #faded8;
$color-orange: #dc5534;
$color-gray: #333333;
$color-gray-light: #ffffff;

// Breakpoints
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
