.container__bg-green {
    background-color: $color-green-light;
    background-image: linear-gradient($color-green-dark, $color-green-light);
    &-light {
        background-color: $color-green-light;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0;
    margin: 0 auto;
    gap: 3rem;

    &-burger.btn-outline {
        display: flex;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    &-links,
    &-contact {
        display: none;
        color: white;
    }

    &-links {
        margin: auto 0;
        flex-grow: 1;

        a {
            color: white;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
    }

    @media screen and (min-width: $lg-break) {
        padding: 2rem 2rem 0;

        &-burger.btn-outline {
            display: none;
        }

        &-links,
        &-contact {
            display: inline-block;
        }
    }
}
#hero {
    .description {
        margin-bottom: 1rem;
    }
}

.section {
    display: block;
    position: relative;

    &-container {
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (min-width: $sm-break) {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        @media screen and (min-width: $md-break) {
            padding-left: 10vw;
            padding-right: 10vw;
        }
    }

    &--hero {
        @media screen and (min-width: 768px) {
            .section-image {
                order: 1;
            }
        }
    }

    &--activities {
        position: relative;
        background-color: $color-pink-light;
        overflow: visible;

        .container {
            overflow: visible;
        }
    }

    &-image {
        text-align: center;
        img {
            width: 100%;
            @media screen and (min-width: $md-break) {
                width: 80%;
            }
        }
    }
    &-text {
        padding: 4rem 1.25rem;
    }
    &-wave {
        position: absolute;
        width: 100%;
        top: -1px;
    }
    &-wave-up {
        position: absolute;
        width: 100%;
        margin-top: -9%;
    }
    &--locations,
    &--routes {
        background-color: $color-pink-light;
    }
    &--about,
    &--services {
        background-color: $color-green-light;
    }
    &--routes,
    &--locations,
    &--about {
        .h4 {
            letter-spacing: 3px;
            margin: 2rem 0;
        }
    }
    &--about {
        .h4,
        .h3,
        .description {
            margin-bottom: 1rem;
        }
    }
    &--locations {
        z-index: 1;
        position: relative;
        overflow-x: clip;
        .circle-pink,
        .circle-green {
            z-index: 0;
            display: none;
        }
        @media screen and (min-width: $lg-break) {
            .circle-pink {
                top: -10vw;

                background-color: $color-pink;
                margin-left: -8vw;
                width: 35vw;
                height: 35vw;
            }

            .circle-green {
                right: 0;
                top: 0;
                background-color: #86d07e;
                margin-top: 20vw;
                margin-right: -8vw;
                width: 40vw;
                height: 40vw;
            }

            .circle-pink,
            .circle-green {
                position: absolute;
                border-radius: 50%;
                display: inline-block;
            }
        }
    }
}
