.container__bg-green {
  background-color: $color-green-light;
  background-image: linear-gradient($color-green-dark, $color-green-light);
}
.nav-grid {
  display: flex;
  justify-content: space-between;
  padding: 16px 23px 0px 23px;
  margin: 0 auto;
}
#hero {
  .description {
    margin-bottom: 1rem;
  }
}
.section {
  display: block;
  position: relative;
  &-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &--activities {
    background-color: $color-pink-light;
  }

  &-image {
    text-align: center;
    img {
      height: 350px;
    }
  }
  &-text {
    padding: 4rem 1.25rem;
  }
  &-wave {
    position: absolute;
    width: 100%;
    top: -1px;
  }
  &--locations,
  &--routes {
    background-color: $color-pink-light;
  }
  &--routes,
  &--locations {
    .h4 {
      letter-spacing: 3px;
      margin: 2rem 0;
    }
  }
}

.section-2 {
  background-image: url(../../img/wave.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
