.container__bg-green {
    background-color: $color-green-light;
    background-image: linear-gradient($color-green-dark, $color-green-light);
    &-light {
        background-color: $color-green-light;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0;
    margin: 0 auto;
    gap: 3rem;

    &-burger.btn-outline {
        display: flex;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    &-links,
    &-contact {
        display: none;
        color: white;
    }

    &-links {
        margin: auto 0;
        flex-grow: 1;

        a {
            color: white;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
    }

    @media screen and (min-width: $lg-break) {
        padding: 2rem 2rem 0;

        &-burger.btn-outline {
            display: none;
        }

        &-links,
        &-contact {
            display: inline-block;
        }
    }
}
#hero {
    .description {
        margin-bottom: 1rem;
    }
}

footer {
    padding: 4rem 0;
    background-color: $color-green-light;
    color: white;
    text-align: center;

    .column {
        margin-top: 1rem;
    }

    h3 {
        margin-bottom: 2rem;
    }

    @media screen and (min-width: $lg-break) {
        text-align: left;
    }

    p {
        color: $color-pink;
        letter-spacing: 2px;
    }

    ul {
        padding-top: 2rem;
    }

    li:not(:last-of-type) {
        padding-bottom: 1rem;
    }
}

.section {
    display: block;
    position: relative;

    &-container {
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (min-width: $sm-break) {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        @media screen and (min-width: $md-break) {
            padding-left: 10vw;
            padding-right: 10vw;
        }
    }

    &--hero {
        @media screen and (min-width: 768px) {
            .section-image {
                order: 1;
            }
        }
    }

    &--activities {
        position: relative;
        background-color: $color-pink-light;
        overflow: visible;

        .container {
            overflow: visible;
        }
    }

    &-image {
        margin: auto;
        text-align: center;
        img {
            width: 100%;
            @media screen and (min-width: $md-break) {
                width: 80%;
            }
        }
    }
    &-text {
        padding: 4rem 1.25rem;
    }
    &-wave {
        position: absolute;
        width: 100%;
        top: -1px;
    }
    &-wave-up {
        position: absolute;
        width: 100%;
        bottom: -1px;
    }
    &--stories,
    &--locations,
    &--routes {
        background-color: $color-pink-light;
    }
    &--about,
    &--services {
        background-color: $color-green-light;
    }
    &--stories,
    &--services,
    &--hero,
    &--routes,
    &--locations,
    &--about {
        .h4 {
            letter-spacing: 3px;
            margin: 2rem 0;
        }
    }

    &--routes {
        position: relative;
    }

    &--about {
        padding: 4rem 0;
        .description {
            margin: 2rem 0;
        }
    }
    &--locations {
        z-index: 1;
        position: relative;
        overflow-x: clip;
        .circle-pink,
        .circle-green {
            z-index: 0;
            display: none;
        }
        @media screen and (min-width: $lg-break) {
            .circle-pink {
                top: -10vw;

                background-color: $color-pink;
                margin-left: -8vw;
                width: 35vw;
                height: 35vw;
            }

            .circle-green {
                right: 0;
                top: 0;
                background-color: #86d07e;
                margin-top: 20vw;
                margin-right: -8vw;
                width: 40vw;
                height: 40vw;
            }

            .circle-pink,
            .circle-green {
                position: absolute;
                border-radius: 50%;
                display: inline-block;
            }
        }
    }

    &--stories {
        z-index: 1;
        position: relative;
        overflow-x: clip;
        .circle-pink,
        .circle-green {
            z-index: 0;
            display: none;
        }
        @media screen and (min-width: $lg-break) {
            .circle-pink {
                top: -10vw;
                right: 0;
                background-color: $color-pink;
                margin-right: -8vw;
                width: 35vw;
                height: 35vw;
            }

            .circle-green {
                top: 0;
                left: 0;
                background-color: #86d07e;
                margin-top: 20vw;
                margin-left: -8vw;
                width: 40vw;
                height: 40vw;
            }

            .circle-pink,
            .circle-green {
                position: absolute;
                border-radius: 50%;
                display: inline-block;
            }
        }
    }

    &--services {
        .h3 {
            margin-bottom: 2rem;
        }
    }

    &--stats {
        position: relative;
        display: flex;
        background-color: $color-pink-light;
        .container.section-container {
            z-index: 1;
        }

        .stats {
            padding: 4rem 0;
            justify-content: center;
            &-container {
                background-color: $color-pink;
                border-radius: 1rem;
                padding: 1rem 4rem;
                box-shadow: 0 12px 24px 0 rgba(51, 9, 0, 0.15);

                @media screen and (min-width: $md-break) {
                    padding: 1rem 2rem;
                }
            }

            &-item {
                text-align: center;
                padding: 2rem 0;

                .h2 {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--start {
        position: relative;
        display: flex;
        background-color: $color-pink-light;
        .container.section-container {
            z-index: 1;
        }

        .start {
            padding: 4rem 0;
            justify-content: center;
            &-container {
                background-color: $color-pink;
                border-radius: 1rem;
                padding: 4rem 2rem;
                box-shadow: 0 12px 24px 0 rgba(51, 9, 0, 0.15);

                @media screen and (min-width: $md-break) {
                    padding: 4rem;
                    display: flex;
                    justify-content: space-between;
                }
            }

            &-item {
                .h2 {
                    margin: 0;
                }
            }

            .btn {
                color: $color-green-dark;
                background-color: white;
                margin: 2rem 0 0;

                @media screen and (min-width: $md-break) {
                    margin: auto 0;
                    height: min-content;
                }
            }
        }
    }
}
